{
    "singleQuote": true,
    "quoteProps": "consistent",
    "parser": "typescript",
    "tabWidth": 4,
    "bracketSpacing": true,
    "printWidth": 120,
    "trailingComma": "all",
    "endOfLine": "lf",
    "overrides": [{
        "files": "{src,test}/**/*.ts",
        "options": {
            "parser": "typescript"
        }
    }, {
        "files": [".prettierrc", "*.json"],
        "options": {
            "parser": "json"
        }
    }]
}
