<div class="deformer--editor">
    <div class="deformer--editor-movearea"></div>
    <div class="deformer--editor-controls"></div>
    <%if(locals.rotatable){%>
    <div class="deformer--editor-rotation"></div>
    <%}%>
</div>
