.deformer--editor {
    position: fixed;
    display: block;
}
.deformer--editor-movearea {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.deformer--editor-controls {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}
.deformer--editor-controller {
    position: absolute;
    background-color: #00FFFF;
}
.deformer--editor-controller-left {
    cursor: e-resize;
}
.deformer--editor-controller-right {
    cursor: w-resize;
}
.deformer--editor-controller-top {
    cursor: n-resize;
}
.deformer--editor-controller-bottom {
    cursor: s-resize;
}
